$main-font: 'Red Hat Text', sans-serif;
$primary-color: #30336b;
$secondary-color: #be2edd;

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 40px 20px 180px;
  color: #fff;
  background: url('../../assets/painting.jpg');
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.header * {
  position: relative;
  z-index: 2;
}

.header__open-sidebar-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 4px 8px;
  color: #fff;
  background-color: transparent;
  font-size: 2.5rem;
}

.header__hero-image-container {
  width: 80%;
  max-width: 500px;
  animation: fade-in 1s 1s both ease;
}

.header__title {
  font-size: 3rem;
  animation: fade-in 1s 1.5s both ease;
}

.header__subtitle {
  animation: fade-in 1s 2s both ease;
}

.header__open-modal-button {
  color: #fff;
  font-size: 2rem;
  background-color: $secondary-color;
  animation: fade-in 1s 2.5s both ease;
}

.header__scroll-icon {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  width: 30px;
  height: 60px;
  border: 3px solid #fff;
  border-radius: 15px;
  animation: fade-in 1s 3s ease both;
}

.header__moving-scroll-circle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  animation: circle-scroll 2s 3.5s infinite ease;
}

@media screen and (min-width: 640px) and (orientation: landscape) {
  .header {
    justify-content: flex-start;
    padding: 20px;
  }

  .header__hero-image-container {
    width: 30%;
    margin: 0 0 10px;
  }

  .header__title,
  .header__subtitle {
    margin: 0 0 15px;
  }

  .header__subtitle {
    font-weight: 500;
  }

  .header__scroll-icon {
    bottom: 5%;
    left: 10%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 80px 40px 250px;
  }

  .header__open-sidebar-button {
    font-size: 3rem;
  }

  .header__title {
    font-size: 4.4rem;
  }

  .header__subtitle {
    font-size: 2rem;
    font-weight: 500;
  }

  .header__open-modal-button {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .header {
    justify-content: flex-start;
    padding: 20px;
  }

  .header__hero-image-container {
    width: 30%;
    margin: 0 0 10px;
  }

  .header__title {
    margin: 0 0 10px;
    font-size: 2.5rem;
  }

  .header__subtitle {
    margin: 0 0 10px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .header__scroll-icon {
    bottom: 5%;
    left: 10%;
  }

  .header__open-modal-button {
    padding: 10px 15px;
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    justify-content: space-evenly;
    padding: 50px 50px 150px;
  }

  .header__hero-image-container {
    width: 45%;
  }

  .header__title {
    font-size: 4.5rem;
  }

  .header__subtitle {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .header__open-modal-button {
    padding: 15px 25px;
    font-size: 2.5rem;
  }

  .header__scroll-icon {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  .header {
    justify-content: space-evenly;
    padding: 50px 50px 400px;
  }

  .header__open-sidebar-button {
    font-size: 4rem;
  }

  .header__hero-image-container {
    width: 80%;
    max-width: 600px;
  }

  .header__title {
    font-size: 6rem;
  }

  .header__subtitle {
    font-size: 2.8rem;
    font-weight: 500;
  }

  .header__open-modal-button {
    padding: 20px 40px;
    font-size: 3rem;
  }

  .header__scroll-icon {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 100px;
    border: 5px solid #fff;
    border-radius: 25px;
  }

  .header__moving-scroll-circle {
    width: 15px;
    height: 15px;
  }
}

@media screen and (min-width: 1280px) and (min-height: 1024px) {
  .header {
    padding: 40px 20px 200px;
  }

  .header__open-sidebar-button {
    font-size: 4rem;
  }

  .header__title {
    font-size: 6rem;
  }

  .header__open-modal-button {
    padding: 20px 40px;
    font-size: 3rem;
  }

  .header__scroll-icon {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 100px;
    border: 5px solid #fff;
    border-radius: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 40px 20px 150px;
  }

  .header__open-sidebar-button {
    font-size: 3rem;
  }

  .header__hero-image-container {
    max-width: 350px;
  }

  .header__title {
    font-size: 4.4rem;
  }

  .header__subtitle {
    font-size: 2rem;
  }

  .header__open-modal-button {
    padding: 15px 25px;
    font-size: 2.2rem;
  }

  .header__scroll-icon {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 20px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes circle-scroll {
  0% {
    top: 10%;
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    top: 70%;
    opacity: 0;
  }
}
