$main-font: 'Red Hat Text', sans-serif;
$primary-color: #30336b;
$secondary-color: #be2edd;

.header {
  position: relative;
  height: 100vh;
  padding: 50px 20px;
  color: #fff;
  background: url('../../assets/painting.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
}

.header * {
  position: relative;
  z-index: 2;
}

.header__open-sidebar-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 4px 8px;
  color: #fff;
  background-color: transparent;
  font-size: 2.5rem;
}

.header__hero-image-container {
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  animation: fade-in 1s 1s both ease;
}

.header__title {
  margin: 0 0 30px;
  font-size: 3rem;
  animation: fade-in 1s 1.5s both ease;
}

.header__subtitle {
  margin: 0 0 30px;
  animation: fade-in 1s 2s both ease;
}

.header__open-modal-button {
  color: #fff;
  font-size: 2rem;
  background-color: $secondary-color;
  animation: fade-in 1s 2.5s both ease;
}

.header__scroll-icon {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  width: 30px;
  height: 60px;
  border: 3px solid #fff;
  border-radius: 15px;
  animation: fade-in 1s 3s ease both;
}

.header__moving-scroll-circle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  animation: circle-scroll 2s 3.5s infinite ease;
}

.header::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes circle-scroll {
  0% {
    top: 10%;
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    top: 70%;
    opacity: 0;
  }
}
